# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
requests==2.32.3
pandas==2.2.2
python-dotenv==1.0.1
fredapi
pyodbc
azure-identity